
body {
    font-family: verdana, serif;
    margin: 0;
    background-color: #f0f0f0;
    color: rgba(0, 0, 0, 0.8);
}

h4 {
    margin: 1rem 0 0.5rem 0;
}

.content {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
    border: 1px solid #6e6e6e;
}

.page_title {
    margin: 1.5rem 0 1rem 0;
    text-align: center;
}

.surf_report .captured_at {
    font-size: 0.8rem;
}

.surf_report .swell {
    font-size: 1rem;
}

.more_reports {
    border-collapse: collapse;
    margin: 0 -1rem;
    width: calc(100% + 2rem);
    font-size: 0.8rem;
}

.more_reports .row_a:hover, .more_reports .row_b:hover {
    cursor: pointer;
    background-color: #a9d5de;
}

.more_reports th {
    font-weight: normal;
    text-decoration: underline;
}

.more_reports td, .more_reports th {
    padding: 0.2rem 1rem;
    text-align: left;
}

.more_reports .row_a {
    background-color: #dceeee;
}

.more_reports .swell {
    text-align: right;
}

.tags .tag {
    background-color: #e0e0e0;
    border: 1px solid #3e3e3e;
    font-size: 0.8rem;
    display: inline-block;
    padding: 4px;
    border-radius: 2px;
    font-family: monospace;
}

.surf_report_details {
    margin: 0 0 2rem 0;
}

.surf_report_details >div {
    margin: 0.3rem 0;
}

.navigation_menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 0 2rem;
    background-color: white;
}

.navigation_menu .site_title {
    text-transform: uppercase;
    font-weight: 800;
}

.navigation_menu .menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.navigation_menu .menu .menu_item a, .navigation_menu .menu .menu_item .submit_fetch_report {
    padding: 1rem;
    color: blue;
    text-decoration: none;
    font-weight: 800;
    font-size: 0.8rem;
    text-transform: uppercase;
    display: inline-block;
}

.navigation_menu .menu .menu_item a:hover, .navigation_menu .menu .menu_item .submit_fetch_report:hover {
    text-decoration: underline;
    cursor: pointer;
}

.navigation_menu .menu .menu_item .fetch_report_menu_item {
    margin: 0;
}

.navigation_menu .menu .menu_item .submit_fetch_report {
    background: transparent;
    border: none;
    font-family: verdana, serif;
}

form .errorlist {
    color: darkred;
}

.latest_surf_report .swell {
    margin: 1rem 0;
}

.previous-header {
    margin: 2rem 0 0.5rem 0;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1rem 0 0 0;
    margin: 1rem 0 0 0;
    font-size: 0.8rem;
}

.pagination > div {
    margin: 0 0.3rem;
}

a {
    color: #4183c4;
    text-decoration: none;
}

a:hover {
    color: #1e70bf;
    text-decoration: underline;
}
