{% extends "./frame.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h4>Latest conditions</h4>
    {% if latest %}
        <div class='latest_surf_report'>
            <div class='swell'>Current swell is {{latest.min_swell|floatformat:2}}m to {{latest.max_swell|floatformat:2}}m.</div>
            <div class='tags'>
                {% for tag in latest.tags.all %}
                    <a href="{% url 'surf:show_tag' tag.id %}" class='tag'>{{tag.label}}</a>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class='no_surf_reports'>There are no surf reports, conditions unknown.</div>
    {% endif %}

    {% if reports %}
        <h4 class='previous-header'>Previous conditions</h4>

        {% include 'surf/partials/tabular_reports.html' with reports=reports only %}
    {% endif %}
{% endblock %}
