{% extends "./frame.html" %}
{% load humanize %}
{% load surf_custom_filters %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class='latest_surf_report'>
        <p class='swell'>Current swell is {{latest.min_swell}}m to {{latest.max_swell}}m.</p>
        <p class='tags'>
            {% for tag in latest_tags %}
                <div class='tag'>{{tag.label}}</div>
            {% endfor %}
        </p>
    </div>

    {% if more_reports %}
        <table class='more_reports'>
            <thead>
                <th>Index</th>
                <th>Id</th>
                <th>Captured at</th>
                <th class='swell'>Swell From (m)</th>
                <th class='swell'>Swell To (m)</th>
                <th class='tag'>Tags</th>
            </thead>
            {% for report in more_reports %}
                <tr class="{% cycle 'row_a' 'row_b' %}" data-url="{% url 'surf:surf_report' report.id %}">
                    <td>{{forloop.counter}}</td>
                    <td>{{report.id}}</td>
                    <td>{{report.captured_at|naturaltime}}</td>
                    <td class='swell'>{{latest.min_swell}}</td>
                    <td class='swell'>{{latest.max_swell}}</td>
                    <td class='tags'>
                        {% for tag in more_reports_tags|get_value:report.id %}
                            <div class='tag'>{{tag.label}}</div>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
