{% load static %}

<html>
    <head>
        <link rel='stylesheet' type='text/css' href="{% static 'surf/style.css' %}" />
        <title>Surf Report</title>
    </head>
    <body>
        <h2>Surf Reports</h2>

        <div class='latest_surf_report'>
            <p class='captured_at'>As of {{latest.captured_at|date:'r'}}, </p>
            <p class='swell'>Swell is {{latest.min_swell}}m to {{latest.max_swell}}m.</p>
        </div>

        <script async src="{% static 'surf/script.js' %}"></script>
    </body>
</html>
