{% load static %}
{% load humanize %}

<html>
    <head>
        <link rel='stylesheet' type='text/css' href="{% static 'surf/style.css' %}" />
        <title>Surf Report</title>
    </head>
    <body>
        <h2>Surf Reports</h2>

        <div class='latest_surf_report'>
            <p class='swell'>Current swell is {{latest.min_swell}}m to {{latest.max_swell}}m.</p>
        </div>

        {% if more_reports %}
            <table class='more_reports'>
                <thead>
                    <th>Index</th>
                    <th>Captured at</th>
                    <th class='swell'>Swell From (m)</th>
                    <th class='swell'>Swell To (m)</th>
                </thead>
                {% for report in more_reports %}
                    <tr class="{% cycle 'row_a' 'row_b' %}">
                        <td>{{forloop.counter}}</td>
                        <td>{{report.captured_at|naturaltime}}</td>
                        <td class='swell'>{{latest.min_swell}}</td>
                        <td class='swell'>{{latest.max_swell}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        <script async src="{% static 'surf/script.js' %}"></script>
    </body>
</html>
