{% extends "./frame.html" %}

{% block title %}Search{% endblock %}

{% block content %}
    <h4>Search</h4>

    <form action="{% url 'surf:search' %}" method='get'>
        {% csrf_token %}
        {{form}}
        <input type='submit' value='Search' />
    </form>

    {% if form.is_bound %}
        <h4 class='search-results'>Search results</h4>

        <div class='result-count'>{{num_of_results}} results found.</div>
    {% endif %}

    {% if results %}
        {% include 'surf/partials/tabular_reports.html' with inherited_qp=query_params reports=results only %}
    {% endif %}

{% endblock %}
