{% extends "./frame.html" %}
{% load humanize %}

{% block title %}Surf Report {{surf_report.id}}{% endblock %}

{% block content %}
    <div class='surf_report_details'>
        <div class='at_time'>{{surf_report.captured_at|date:'r'}} ({{surf_report.captured_at|naturaltime}})</div>
        <div class='swell'>Swell was {{surf_report.min_swell}}m to {{surf_report.max_swell}}m.</div>
        <div class='notes'>{{surf_report.note}}</div>
        <div class='tags'>
            {% for tag in tags %}
                <a href="{% url 'surf:show_tag' tag.id %}" class='tag'>{{tag.label}}</a>
            {% endfor %}
        </div>
    </div>

    <div class='add_tags'>
        <form action="{% url 'surf:add_tag' surf_report.id %}" method='post'>
            {% csrf_token %}
            <label>
                Tag
                <select name='tag'>
                    {% for tag in all_tags %}
                        <option value="{{tag.id}}">{{tag.label}}</option>
                    {% endfor %}
                </select>
            </label>
            <input type='submit' value='Add tag' />
        </form>
    </div>
{% endblock %}
