{% load humanize %}
{% load surf_templatetags %}

<table class='more_reports'>
    <thead>
        <th>Index</th>
        <th>Id</th>
        <th>Captured at</th>
        <th class='swell'>Swell From</th>
        <th class='swell'>Swell To</th>
        <th class='tag'>Tags</th>
    </thead>

    {% for report in reports %}
        <tr class="{% cycle 'row_a' 'row_b' %}" data-url="{% url 'surf:surf_report' report.id %}">
            <td>{{forloop.counter}}</td>
            <td>{{report.id}}</td>
            <td>{{report.captured_at|naturaltime}}</td>
            <td class='swell'>{{report.min_swell|floatformat:2}}m</td>
            <td class='swell'>{{report.max_swell|floatformat:2}}m</td>
            <td class='tags'>
                {% for tag in report.tags.all %}
                    <a href="{% url 'surf:show_tag' tag.id %}" class='tag'>{{tag.label}}</a>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>

{% if reports.has_previous or reports.has_next %}
    <div class='pagination'>
        {% if reports.has_previous %}
            <div class='previous_page'>
                <a href='{% query_params inherited_qp page=1 %}'>&laquo; first</a>
                <a href='{% query_params inherited_qp page=reports.previous_page_number %}'>&lsaquo; previous</a>
            </div>
        {% endif %}

        <div class='current_page'>Page {{reports.number}} of {{reports.paginator.num_pages}}</div>

        {% if reports.has_next %}
            <div class='next_page'>
                <a href='{% query_params inherited_qp page=reports.next_page_number %}'>next &rsaquo;</a>
                <a href='{% query_params inherited_qp page=reports.paginator.num_pages %}'>last &raquo;</a>
            </div>
        {% endif %}
    </div>
{% endif %}
